openai
langchain
langchain_openai
langchain_experimental
langchainhub
langchain-community==0.3.4
pinecone==5.3.1
python-dotenv
tiktoken
docx2txt
pypdf
requests
pandas
aiohttp
PyYAML
numpy
langchain-google-genai
google-generativeai
